<div class="d-flex flex-column overflow-hidden h-100">
  <div class="legend-item-outer flex-center-align gap-5 pb-4">
    <div class="legend-item flex-center-align gap-2">
      <div class="legend-icon rounded-circle low-density"></div>
      <h5>Low Density</h5>
    </div>
    <div class="legend-item flex-center-align gap-2">
      <div class="legend-icon rounded-circle medium-density"></div>
      <h5>Medium Density</h5>
    </div>
    <div class="legend-item flex-center-align gap-2">
      <div class="legend-icon rounded-circle high-density"></div>
      <h5>High Density</h5>
    </div>
    <div class="legend-item flex-center-align gap-2">
      <div class="legend-icon rounded-circle very-high-density-no-blur"></div>
      <h5>Very High Density</h5>
    </div>
  </div>

  <div class="crowd-heat-map-container position-relative overflow-auto flex-fill h-100">
    <img src="/images/blueprints-site-plan.jpg" class="img-fluid w-100 floor-pan-image object-fit-cover" id="floorPlan"
      alt="Site Map Floor Plan" />
    <div class="heat-map-overlay" id="heatMapOverlay"></div>
  </div>
</div>