.legend-item-outer {
  justify-content: flex-end;
  .legend-item {
    .legend-icon {
      width: 1rem;
      height: 1rem;
      background-color: var(--primary-color);
      &.low-density {
        background-color: rgba(0, 180, 216, 0.8);
      }

      &.medium-density {
        background-color: rgba(0, 255, 127, 0.85);
      }

      &.high-density {
        background-color: rgba(255, 255, 0, 0.9);
      }

      &.very-high-density-no-blur {
        background-color: rgba(255, 69, 0, 0.95);
      }
    }
    h5 {
      color: var(--black);
      font-size: var(--primary-font-size);
      font-weight: var(--font-medium);
      margin-bottom: 0;
    }
  }
}

.crowd-heat-map-container {
  cursor: grab;
  border: 1px solid var(--light-grey-border);
  border-radius: 0.625rem;
}
