.student-head-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5.3rem 1.5rem;
  border: none;
  background-color: var(--white);
  .user-card-avtar {
    width: 7.875rem;
  }
  .user-card-details {
    .common-head-title {
      font-size: calc(var(--primary-font-size) * 1.125);
      letter-spacing: 0;
      text-align: center;
      margin: 15px 0;
    }
  }
}
