.main-content-container {
  overflow: hidden;
  overflow-y: auto;
}

.details-cards-row {
  margin-left: calc(-0.25 * var(--bs-gutter-x));
  margin-right: calc(-0.25 * var(--bs-gutter-x));
  & > * {
    padding-right: calc(var(--bs-gutter-x) * 0.25);
    padding-left: calc(var(--bs-gutter-x) * 0.25);
  }
}
