.top-header-bar {
  .admin-user-block {
    gap: 0.75rem;
    .admin-user-name {
      color: var(--black);
      font-size: calc(var(--primary-font-size) * 0.875);
      font-weight: var(--font-semibold);
      margin-bottom: 0;
    }
  }
}

.tab-content-head {
  border-bottom: 1px solid var(--grey-light-shade);
  .card-head-details {
    .card-head-name {
      color: var(--black);
      font-size: calc(var(--primary-font-size) * 1.25);
    }
  }
  .card-action-btn {
    background: var(--light-grey-bg);
  }
}

.student-lists-tab-outer {
  .student-list-wrap {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    overflow-x: auto;
    .student-img-wrap {
      min-width: 78px;
      width: 78px;
      .student-img-item {
        position: relative;
        cursor: pointer;
        .avatar-rounded-img {
          border-radius: 0.625rem;
        }
        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          border-radius: 0.625rem;
          border: 3px solid var(--primary-color);
          transition: all 0.3s ease;
        }
        &.active::before {
          opacity: 1;
        }
      }
      .student-item-name {
        color: var(--black);
        font-size: calc(var(--primary-font-size) * 0.875);
        font-weight: var(--font-medium);
        line-height: 1.5;
        margin: 6px 0 0;
      }
    }
    &.grid-view {
      row-gap: 1rem;
      flex-wrap: wrap;
      overflow: hidden;
      .col-custom-padd {
        padding: 0 0.5rem;
      }
    }
  }
  .single-student-stats-details {
    .common-head-title {
      font-size: var(--primary-font-size);
      letter-spacing: 0.64px;
    }

    .student-head-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 5.3rem 1.5rem;
      border: none;
      background-color: var(--white);
      .user-card-avtar {
        width: 7.875rem;
      }
      .user-card-details {
        .common-head-title {
          font-size: calc(var(--primary-font-size) * 1.125);
          letter-spacing: 0;
          text-align: center;
          margin: 15px 0;
        }
      }
    }
  }
  .health-stats-card {
    padding: 1.5rem 1rem;
    border: 1px solid transparent;
    border-radius: var(--cst-radius-lg);
    .card-stats-info {
      padding-top: 0.875rem;
      p,
      h6 {
        color: var(--text-highlight);
        font-size: calc(var(--primary-font-size) * 0.875);
        font-weight: var(--font-regular);
        line-height: 1.14;
        margin: 0 0 0.5rem;
      }
      h4 {
        color: var(--black);
        font-size: calc(var(--primary-font-size) * 1.25);
        font-weight: var(--font-semibold);
        line-height: 0.8;
        margin: 0;
      }
    }
  }
}

.common-appointment-card {
  border: 1px solid var(--grey-light-shade);
  overflow: unset;
  .appointment-card-head {
    .card-head-img {
      width: 3.75rem;
      min-width: 3.75rem;
    }
  }
  .appointment-card-body {
    .health-stats-list {
      text-align: center;
      .health-stat-info {
        h4 {
          color: var(--black);
          font-size: var(--primary-font-size);
          font-weight: var(--font-semibold);
          line-height: 0.8;
          margin: 0.5rem 0 0;
        }
      }
    }
  }
  .spinner-grow {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 1.125rem;
    width: 1.125rem;
  }
}

.appointment-card-graph {
  position: relative;
  top: 15px;

  .stacked-area-load-state--css-draw {
    width: 100%;
    float: left;
    .chart-line {
      stroke-dasharray: 1066.1628910290706;
      stroke-dashoffset: 1066.1628910290706;
      animation: drawStroke 2.5s linear infinite forwards;
    }
    @keyframes drawStroke {
      0% {
        opacity: 0;
      }
      20% {
        opacity: 1;
      }
      80% {
        opacity: 0.8;
      }
      100% {
        stroke-dashoffset: 0;
        opacity: 0;
      }
    }
  }
}

.list-tab-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid var(--grey-light-shade);
  border-radius: 0.625rem;
  background-color: var(--white);
  transition: all 0.3s ease;
  &.active {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    svg {
      path {
        stroke: var(--white);
      }
    }
  }
}
