.top-header-bar {
  .admin-user-block {
    gap: 0.75rem;
    .admin-user-name {
      color: var(--black);
      font-size: calc(var(--primary-font-size) * 0.875);
      font-weight: var(--font-semibold);
      margin-bottom: 0;
    }
  }
}

.appointment-action-modal {
  padding: 1.5rem 0;
  width: 100%;
  .action-btn-item {
    display: block;
    color: var(--black);
    font-size: var(--primary-font-size);
    font-weight: var(--font-medium);
    letter-spacing: var(--letter-space);
    padding: 0.875rem 1rem;
    width: 100%;
    border: 0;
    background-color: transparent;
    transition: all 0.3s ease;
    &:hover {
      background-color: var(--highlight-white);
    }
    &.action-cancel-button {
      color: var(--unread-badge);
    }
  }
}

.appointment-delete-modal {
  padding: 2rem 1.5rem;
  border-radius: var(--cst-radius-lg);
  .modal-title {
    color: var(--black);
    font-size: var(--primary-font-size);
    font-weight: var(--font-medium);
    letter-spacing: 0.64px;
    text-align: center;
    margin: 0;
  }
  .modal-action-btns {
    gap: 0.625rem;
  }
  .select-menu-wrap {
    width: 18.75rem;
    margin: 0 auto;
  }

  .select-item-button:focus {
    border-color: var(--black);
  }
}

.appointment-side-canvas {
  padding: 1.5rem;
  border-top-left-radius: var(--cst-radius-lg);
  border-bottom-left-radius: var(--cst-radius-lg);
  .offcanvas-header {
    .offcanvas-title {
      color: var(--black);
      font-size: calc(var(--primary-font-size) * 1.5);
      font-weight: var(--font-regular);
      letter-spacing: 0.96px;
      line-height: 1;
    }
    .btn-close {
      height: 34px;
      width: 34px;
      opacity: 1;
      padding: 0;
      margin: 0;
      background-image: url("/images/close-icon.svg");
      background-size: 34px;
    }
  }
  .take-appointment-form {
    input,
    textarea {
      &::placeholder {
        color: var(--black);
        text-transform: capitalize;
      }
    }
    textarea {
      min-height: 9rem;
    }
    .select-item-button {
      transition: all 0.3s ease;
      &:focus {
        border-color: var(--black);
      }
    }
  }
  @media screen and (min-width: 1200px) {
    padding: 3rem;
    width: 32rem;
  }
}

.modal-action-btns {
  .btn {
    width: 5.5rem;
  }
}

.common-appointment-card {
  .appointment-card-head {
    .card-head-details {
      .card-head-name {
        font-weight: var(--font-semibold);
      }
      .card-common-desc {
        font-size: calc(var(--primary-font-size) * 0.875);
      }
    }
  }
}

.tab-content-head {
  margin-bottom: 2rem;
  .card-head-details {
    .card-head-name {
      color: var(--black);
      font-size: calc(var(--primary-font-size) * 1.25);
    }
  }
  .card-action-btn {
    background: var(--light-grey-bg);
  }
}

.recently-appointments-row {
  .chat-listed-wrap {
    .chat-listed-form {
      .form-control-group {
        .form-control {
          padding-left: 2.625rem;
          border: 1px solid var(--grey-light-shade);
          background: url("/images/search-icon.svg") #fff no-repeat 0.875rem;
          background-size: 18px;
          &::placeholder {
            color: var(--secondary-dark);
          }
        }
      }
    }
  }
  .nav-pills {
    .nav-link {
      color: var(--text-highlight);
      font-size: var(--primary-font-size);
      font-weight: var(--font-medium);
      letter-spacing: var(--letter-space);
      text-align: left;
      padding: 0.8rem 0;
      border-radius: 0.5rem;
      transition: all 0.3s ease;
      &:hover,
      &.active {
        color: var(--white);
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: var(--primary-color);
      }
    }
  }
}

.switch-department-badge {
  position: absolute;
  top: 15px;
  left: 12px;
}
