::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__text-label,
::ng-deep .mat-mdc-form-field-input-control.mat-mdc-form-field-input-control,
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: var(--black) !important;
  font-family: var(--primary-font) !important;
}

::ng-deep div.mat-mdc-autocomplete-panel {
  background-color: var(--white) !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  caret-color: var(--black) !important;
}

::ng-deep .mat-mdc-chip-set .mdc-evolution-chip-set__chips {
  margin-left: 2px !important;
}

::ng-deep .mat-mdc-chip-set .mdc-evolution-chip {
  margin-left: 0 !important;
}

::ng-deep .mat-mdc-chip-set .mdc-evolution-chip + .mdc-evolution-chip {
  margin-left: 8px !important;
}

.select-item-button {
  color: var(--secondary-dark);
  font-size: var(--primary-font-size);
  font-weight: var(--font-regular);
  line-height: 1.5;
  height: auto;
  padding: 0.5rem 0;
  border: none;
  border-bottom: 1px solid var(--grey-light-shade);
  border-radius: 0;
  input {
    margin: 0;
  }
}

.select-item-button {
  transition: all 0.3s ease;
  &.mat-focused {
    border-color: var(--black);
  }
}

::ng-deep .mdc-text-field--outlined .mat-mdc-form-field-infix,
::ng-deep .mdc-text-field--no-label .mat-mdc-form-field-infix {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper,
::ng-deep .mat-mdc-form-field-focus-overlay,
::ng-deep .mat-mdc-select-arrow svg,
::ng-deep .mdc-line-ripple {
  display: none !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
  padding: 0 !important;
  background-color: transparent !important;
}

::ng-deep .mat-mdc-select-arrow {
  width: 24px !important;
  height: 24px !important;
  background: url("/images/select-icon.svg") right no-repeat;
}

::ng-deep .mat-mdc-select-trigger {
  font-family: var(--primary-font);
  padding-left: 8px;
  height: 100%;
}

::ng-deep div.mat-mdc-select-panel {
  background-color: var(--white) !important;
}

::ng-deep .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
  background-color: #e3e3e4 !important;
}

::ng-deep .mat-mdc-option.mdc-list-item {
  font-family: var(--primary-font);
}

.select-item-button.mat-mdc-select {
  color: var(--secondary-dark);
  font-size: var(--primary-font-size);
  font-weight: var(--font-regular);
  line-height: 1.5;
}

::ng-deep .mat-mdc-chip.mdc-evolution-chip--with-trailing-action .mat-mdc-chip-action-label {
  display: flex;
  align-items: center;
}
::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
  display: flex !important;
  align-items: center !important;
}
.chip-avatar,
.option-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #c5c5c5;
  color: #666666;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 8px;
}

.option-avatar {
  width: 2rem;
  height: 2rem;
}
