<mat-form-field class="select-item-button">
  <mat-chip-grid #chipGrid>
    @for (item of selectedItems(); track item.value) {
      <mat-chip-row (removed)="remove(item)">
        <div class="chip-avatar">{{ item.label[0] }}{{ item.label[item.label.length - 1] }}</div>
        {{ item.label }}
        <button matChipRemove [attr.aria-label]="'remove ' + item.label">
          <img src="/images/close-circle.svg" alt="Close circle icon" />
        </button>
      </mat-chip-row>
    }
  </mat-chip-grid>

  <input [(ngModel)]="searchString" name="searchString" placeholder="Search..." #subjectInput [matChipInputFor]="chipGrid" [matAutocomplete]="auto" (matChipInputTokenEnd)="add($event)" />

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event); subjectInput.value = ''">
    @for (option of filteredOptions(); track option.value) {
      <mat-option [value]="option.value">
        <div class="option-avatar">{{ option.label[0] }}{{ option.label[option.label.length - 1] }}</div>
        {{ option.label }}
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
