.overall-stats-card {
  border-radius: 0.625rem;
  .overall-stats-card-head {
    padding-bottom: 1rem;
  }
  .overall-stats-filter-select {
    .stats-select-dropdown {
      width: 10rem;
    }
  }
}
