.add-new-meeting-body {
  .add-new-meeting-inner {
    padding: 1rem 0 2rem;
    background-color: var(--white);
    .add-meeting-slots-wrap {
      padding-top: 0.5rem;
      .select-slots-row {
        .select-slot-btn-wrap {
          width: calc(33% - 10px);
          .select-slot-btn {
            position: relative;
            color: var(--black);
            font-size: calc(var(--primary-font-size) * 0.875);
            font-weight: var(--font-medium);
            letter-spacing: 0.64px;
            line-height: 1.5;
            padding: 0.78rem 0.8rem;
            width: 100%;
            border-color: transparent;
            border-radius: 0.5rem;
            background-color: var(--light-grey-border);
            overflow: hidden;
            z-index: 1;
            &::before {
              position: absolute;
              content: "";
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              border-radius: 0.5rem;
              background-color: transparent;
              transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
              z-index: -1;
            }
          }
          .btn-check:checked + .select-slot-btn {
            color: var(--white);
            &::before {
              background-color: var(--primary-color);
              animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
            }
          }
        }
      }
    }
  }
}

@keyframes shrink-bounce {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    border-color: var(--white);
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  33% {
    width: 7px;
    height: 0;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  100% {
    width: 7px;
    height: 13px;
    border-color: var(--white);
    transform: translate3d(0, -0.5em, 0) rotate(45deg);
  }
}
