<button type="button" class="drop-down-action-sheet" [class.full-width]="fullWidth" (click)="openActionSheet()" [style.lineHeight]="lineHeight">
  <span class="d-inline-block year-select-number px-1">{{ textLabel }}</span>
  <span>
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_2913_2937)">
        <path d="M16 11L12 15L8 11" stroke="#666666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </g>
      <defs>
        <clipPath id="clip0_2913_2937">
          <rect width="24" height="24" fill="white" />
        </clipPath>
      </defs>
    </svg>
  </span>
</button>
