.drop-down-action-sheet {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  color: var(--black);
  font-size: var(--primary-font-size);
  font-weight: var(--font-regular);
  line-height: 1.5;
  padding: 0 0.375rem;
  min-height: 2rem;
  min-width: 7.25rem;
  border: none;
  border-radius: 0.75rem;
  border: 2px solid var(--light-grey-border);
  background-color: var(--white);
  .year-select-number {
    position: relative;
    top: 1px;
  }
}

.full-width.drop-down-action-sheet {
  height: 50px;
  width: 100%;
}
