<div class="auth-screen-outer d-flex align-items-center">
  <div class="auth-screen-inner w-100 m-auto">
    <div class="auth-screen-header text-center">
      <div class="welcome-intro">
        <h5 class="mt-0">Set New Password</h5>
        <p class="mb-0">Enter a new password to update your password</p>
      </div>
    </div>
    <div class="auth-screen-body">
      <form [formGroup]="form" class="auth-screen-form">
        <div class="form-control-group" style="display: none">
          <label for="username" class="form-label">Username</label>
          <input type="text" id="username" name="username" autocomplete="username" [formControl]="form.controls.username" placeholder="Enter your username" />
        </div>
        <div class="form-control-group">
          <label for="password" class="form-label">New Password</label>
          <div class="password-field-input position-relative">
            <app-input-password [formControl]="form.controls.password" id="password" placeholder="Enter your new password"></app-input-password>
          </div>
          <div class="password-requirements mt-3">
            <small class="text-muted">Password must contain:</small>
            <ul class="list-unstyled mt-1 mb-0">
              @for (requirement of passwordRequirements; track $index) {
                <li class="d-flex align-items-center gap-1">
                  <i class="bi" [class.bi-check-circle-fill]="requirement.isValid" [class.bi-circle]="!requirement.isValid"></i>
                  <small [class.text-success]="requirement.isValid">{{ requirement.text }}</small>
                </li>
              }
            </ul>
          </div>
        </div>
        <div class="form-control-group">
          <label for="passwordConfirm" class="form-label">Confirm New Password</label>
          <div class="password-field-input position-relative">
            <app-input-password [formControl]="form.controls.passwordConfirm" id="passwordConfirm" placeholder="Confirm your new password"></app-input-password>
          </div>
        </div>
        <div class="auth-screen-button-wrap pt-2">
          <button class="primary-button w-100" type="submit" [disabled]="form.invalid || !isPasswordValid" (click)="updatePassword()">
            <span class="loader-spinner">
              Update
              @if (loader.isLoading()) {
                <span class="custom-spinner"></span>
              }
            </span>
          </button>
          <div class="text-center mt-3">
            <a (click)="logout()" href="javascript:void(0)" class="text-decoration-none">Logout</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
