.auth-screen-outer {
  min-height: 100dvh;
  padding: 5rem 1.8rem;
  background-image: var(--bg-light-gradient);
  background-color: var(--bg-white-shade);
  .auth-screen-inner {
    max-width: 24.875rem;
    .auth-screen-header {
      .welcome-intro {
        padding-bottom: 1.875rem;
        h5 {
          color: var(--black);
          font-size: calc(var(--primary-font-size) * 1.5);
          font-weight: var(--font-semibold);
          margin-bottom: 0.75rem;
        }
        p {
          color: var(--text-highlight);
          font-size: var(--primary-font-size);
          font-weight: 400;
        }
      }
    }
    .auth-screen-body {
      .auth-screen-form {
        .form-control-group {
          margin-bottom: 1.5rem;
          .form-label {
            color: var(--base-grey);
            font-size: var(--primary-font-size);
            font-weight: var(--font-regular);
            margin-bottom: 0.75rem;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .forget-password-label {
        p {
          a {
            color: var(--link-primary-text);
            &:hover {
              color: var(--black);
            }
          }
        }
      }
      &.auth-bg-modal {
        padding: 1.5rem 2rem;
        border-radius: var(--cst-radius-lg);
        background-color: var(--white);
      }
    }
  }
}

.password-requirements {
  small {
    font-size: 0.875rem;
    transition: color 0.2s ease;
  }

  .bi {
    font-size: 0.875rem;
    transition: color 0.2s ease;

    &.bi-check-circle-fill {
      color: var(--success);
    }

    &.bi-circle {
      color: var(--gray-500);
    }
  }

  li {
    margin-bottom: 0.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
