.iot-devices-map-container {
  .device-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .device {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: calc(var(--primary-font-size) * 0.625);
    font-weight: var(--font-semibold);
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border: 2px solid #2980b9;
    border-radius: 50%;
    background-color: #3498db;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%);
    transition: all 0.2s ease;

    &.temperature {
      background-color: var(--avg-range-graph);
      border: 2px solid #d98b42;
    }

    &.humidity {
      background-color: var(--max-range-graph);
      border: 2px solid #d74848;
    }

    &.gateway {
      background-color: var(--min-range-graph);
      border: 2px solid #128497;
    }

    &.motion {
      background-color: #f39c12;
      border: 2px solid #e67e22;
    }

    &.door {
      background-color: #1abc9c;
      border: 2px solid #16a085;
    }

    &.multisensor {
      background-color: #9b59b6;
      border: 2px solid #8e44ad;
    }

    &.airquality {
      background-color: #2ecc71;
      border: 2px solid #27ae60;
    }
    &:hover {
      transform: translate(-50%, -50%) scale(1.2);
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
      z-index: 100;
    }
  }
  .device-tooltip {
    position: fixed;
    color: var(--white);
    font-size: calc(var(--primary-font-size) * 0.75);
    padding: 5px 10px;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    border-radius: 0.25rem;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 0.2s ease;
    z-index: 101;
  }
}
