.common-box-bg-bdr {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 8px #00000029;
  border-radius: 5px;
}

@mixin common-box-bg-bdr {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 8px #00000029;
  border-radius: 5px;
}

@mixin fixed-overflow {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.ui-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font:
    400 18px Roboto,
    Arial,
    sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}

.ui-button:hover {
  background: rgb(235, 235, 235);
}
