$base-color: #25a3e3;
$light-color: #f5f5f5;

:root {
  --h-full: "100%";
  --primary-font: "Host Grotesk", serif;
  --secondary-font: "Roboto", "Helvetica Neue", sans-serif;
  --primary-font-size: 16px;
  --screen-height: 100svh;
  --screen-width: 100svw;

  --cst-table-bg: #eff2f7;
  --cst-primary-active-bg: #238abe;
  --cst-modal-footer-bg: #f6f8fb;

  --ui-base-width: 1920px;
  --base-scale: 1;
  // app base variables

  --primary-color: #947afd;
  --white: #fff;
  --black: #000;
  --primary-dark: #222;
  --secondary-dark: #11181c;
  --light-black: #504a4a;
  --light-grey: #c5c5c5;
  --text-highlight: #666666;
  --light-dark: #121212;
  --unread-badge: #ff0000;
  --ripple-bg: rgba(183, 183, 187, 0.5);
  --card-chip-bg: rgba(125, 93, 253, 0.1);
  --light-white: #f9f9f9;
  --highlight-white: #f1f1f1;
  --ellipse-light-shade: rgba(125, 93, 253, 0.22);
  --disabled-text: #919191;
  --secondary-dark-bg: #1e1e1e;
  --error-color: #ef4444;
  --success-color: #10b981;

  --light-red-border: rgba(255, 131, 131, 0.2);
  --light-red-bg: #fdefef;
  --light-blue-border: rgba(100, 127, 244, 0.2);
  --light-blue-bg: #ebeefa;
  --light-green-border: rgba(16, 208, 28, 0.2);
  --light-green-bg: #e2fce4;
  --light-orange-border: rgba(244, 171, 103, 0.2);
  --light-orange-bg: #fff2e7;
  --light-yellow-border: rgba(255, 196, 20, 0.2);
  --light-yellow-bg: #ffefc1;
  --light-pink-border: rgba(228, 30, 254, 0.2);
  --light-pink-bg: #fdeeff;
  --light-sky-border: rgba(24, 188, 214, 0.2);
  --light-sky-bg: #dcebed;
  --light-shade-border: rgba(0, 0, 0, 0.12);
  --light-shade-bg: #ececec;
  --light-darkblue-border: rgba(0, 57, 255, 0.2);
  --light-darkblue-bg: #dbe3ff;
  --light-skyblue: #008dd1;
  --light-skyblue-bg: #8bcae9;
  --light-grey-border: #e6e6e6;
  --success-label-bg: #10d01c;
  --offline-label-bg: #f26f6f;
  --inactive-label-bg: #f2b76f;
  --yellow: #fbd92a;
  --light-warning-bg: #fff1ef;
  --highlight-grey-bg: #e6ecf2;
  --grey-light-shade: #e1e1e1;
  --light-grey-bg: #f5f7fa;
  --warning-shade-border: #ff8383;
  --base-grey: #52525b;
  --link-primary-text: #4561e2;
  --primary-rounded: 0.75rem;
  --base-grey-light: #d4d4d8;
  --glassporisum-bg: rgba(255, 255, 255, 0.4);
  --blue-light: #dae3ec;
  --success-bg: #43cb8e;
  --accepted-bg: #38aa77;
  --blue-dark-grey: #ccdcf5;
  --blue-shade-gradient: linear-gradient(156deg, #4c54e3 0.7%, rgba(88, 93, 232, 0) 53.58%), #fff;
  --primary-button-gradient: linear-gradient(90deg, #7d5dfd 0%, #4fefa7 100%);
  --btn-hover-gradient: linear-gradient(90deg, #7d5dfd 50%, #4fefa7 100%);
  --primary-light-color: #7d5dfd;
  --min-range-graph: #18bcd6;
  --avg-range-graph: #f4ab67;
  --max-range-graph: #ff8383;
  --bg-light-gradient: linear-gradient(136deg, #585fe5 0.51%, rgba(88, 93, 232, 0) 52.6%);
  --bg-white-shade: #fef4ff;

  --width-full: 100%;
  --height-full: 100%;
  --h-w-global: 50px;
  --cst-radius-lg: 1rem;
  --letter-space: 0.64px;

  --font-bold: 700;
  --font-semibold: 600;
  --font-regular: 400;
  --font-medium: 500;
}
