.top-header-bar {
  .admin-user-block {
    gap: 0.75rem;
    .admin-user-name {
      color: var(--black);
      font-size: calc(var(--primary-font-size) * 0.875);
      font-weight: var(--font-semibold);
      margin-bottom: 0;
    }
  }
}

.tab-content-head {
  border-bottom: 1px solid var(--grey-light-shade);
  .card-head-details {
    .card-head-name {
      color: var(--black);
      font-size: calc(var(--primary-font-size) * 1.25);
    }
  }
}

.common-appointment-card {
  border: 1px solid var(--grey-light-shade);
  .appointment-card-head {
    .card-head-img {
      width: 3.75rem;
      min-width: 3.75rem;
    }
  }
  .appointment-card-body {
    .health-stats-list {
      text-align: center;
      .health-stat-info {
        h4 {
          color: var(--black);
          font-size: var(--primary-font-size);
          font-weight: var(--font-semibold);
          line-height: 0.8;
          margin: 0.5rem 0 0;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
  .spinner-grow {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 1.125rem;
    width: 1.125rem;
  }
}

.appointment-card-graph {
  position: relative;
  top: 15px;

  .stacked-area-load-state--css-draw {
    width: 100%;
    float: left;
    .chart-line {
      stroke-dasharray: 1066.1628910290706;
      stroke-dashoffset: 1066.1628910290706;
      animation: drawStroke 2.5s linear infinite forwards;
    }
    @keyframes drawStroke {
      0% {
        opacity: 0;
      }
      20% {
        opacity: 1;
      }
      80% {
        opacity: 0.8;
      }
      100% {
        stroke-dashoffset: 0;
        opacity: 0;
      }
    }
  }
}

.user-chat-items-outer {
  .user-chat-items {
    .chat-user-avatar {
      min-width: 3.75rem;
      width: 3.75rem;
      cursor: pointer;
      .chat-avatar-img {
        position: relative;
        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          border: 2px solid var(--primary-color);
          border-radius: 50%;
          transform: scale(0);
          transition: all 0.3s ease;
        }
      }
      &.active {
        .chat-avatar-img::before {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
}

.chat-card-user {
  border-bottom: 1px solid var(--grey-light-shade);
  .chat-user-avatar {
    width: var(--h-w-global);
  }
  .chat-user-details {
    h5 {
      color: var(--black);
      font-size: var(--primary-font-size);
      font-weight: var(--font-medium);
      line-height: 1;
      margin-bottom: 0.25rem;
    }
    p {
      color: var(--text-highlight);
      font-size: calc(var(--primary-font-size) * 0.875);
      font-weight: var(--font-regular);
    }
  }
}

.user-chat-body {
  .user-chat-day-label {
    color: var(--text-highlight);
    font-size: calc(var(--primary-font-size) * 0.8);
    font-weight: var(--font-regular);
    line-height: 1.15;
    margin: 1rem 0 0.25rem;
  }
  .user-ongoing-chat-wrap {
    .user-chat-card-outer {
      gap: 0.5rem;
      margin-bottom: 0.875rem;
      .user-chat-message-card {
        display: inline-block;
        padding: 0.5rem;
        max-width: calc(100% - 15%);
        border-radius: 8px;
        background-color: var(--light-warning-bg);
        p {
          color: var(--black);
          font-size: calc(var(--primary-font-size) * 0.875);
          font-weight: var(--font-regular);
          line-height: 1.5;
        }
      }
      .chat-user-avatar {
        min-width: 2rem;
        width: 2rem;
      }
      &.user-receive-chat {
        .user-chat-message-card {
          background-color: var(--highlight-grey-bg);
        }
      }
      &.user-sent-chat {
        gap: 0;
        justify-content: flex-end;
        .chat-user-avatar {
          display: none;
        }
      }
    }
  }
}

.user-chat-footer {
  border-top: 1px solid var(--grey-light-shade);
  .form-control {
    color: var(--text-highlight);
    font-size: calc(var(--primary-font-size) * 0.875);
    font-weight: var(--font-regular);
    line-height: 1.5;
    padding: 0.75rem 1rem;
    height: 3rem;
    border: 1px solid var(--blue-light);
    border-radius: 0.5rem;
    background: var(--light-grey-bg);
    &::placeholder {
      color: var(--text-highlight);
    }
  }
  .user-chat-action-btns {
    gap: 0.75rem;
  }
}
