<!-- <ion-content [fullscreen]="true">
  <div class="home-screen-wrapper">
    <div class="home-screen-head">
      <ion-header>
        <div class="top-header d-flex align-items-center justify-content-between">
          <div class="back-screen-button-outer">
            <app-back-button (clicked)="modalCtrl.dismiss()"></app-back-button>
          </div>
          <ion-title class="common-head-title">{{ "attendance.title" | translate }}</ion-title>
          <div class="header-user-profile d-flex align-items-center gap-2">
            <button class="notification-button rounded-50-img border-0 bg-transparent"></button>
          </div>
        </div>
      </ion-header>
    </div>
    <div class="home-screen-body">
      <div class="date-slider attendance-details-calendar p-3" id="fullDateCalendar">
        <div class="date-slider-header d-flex align-items-center justify-content-center">
          <button id="prevMonth" class="nav-button border-0 bg-transparent">
            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7 1L1 7L7 13" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
          <div id="dateMonthYear"></div>
          <button id="nextMonth" class="nav-button border-0 bg-transparent">
            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L7 7L1 13" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </div>
        <div class="day-container-wrap d-block">
          <div class="weekdays-container">
            <div class="weekday-item">{{ "attendance.days.short.sun" | translate }}</div>
            <div class="weekday-item">{{ "attendance.days.short.mon" | translate }}</div>
            <div class="weekday-item">{{ "attendance.days.short.tue" | translate }}</div>
            <div class="weekday-item">{{ "attendance.days.short.wed" | translate }}</div>
            <div class="weekday-item">{{ "attendance.days.short.thu" | translate }}</div>
            <div class="weekday-item">{{ "attendance.days.short.fri" | translate }}</div>
            <div class="weekday-item">{{ "attendance.days.short.sat" | translate }}</div>
          </div>
          <div id="calendarDays" class="days-container"></div>
        </div>
      </div>
    </div>
  </div>
</ion-content> -->
