<div class="auth-screen-outer flex-center-align justify-content-center">
  <div class="auth-screen-inner w-100" style="margin-top: -3rem">
    <div class="auth-screen-header text-center pb-0">
      <!-- <div class="check-container d-flex flex-column align-items-center justify-content-between m-auto">
        <div class="check-background d-flex align-items-center justify-content-center rounded-circle w-100">
          <svg viewBox="0 0 65 51" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 25L27.3077 44L58.5 7" stroke="white" stroke-width="13" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
        <div class="check-shadow rounded-circle"></div>
      </div> -->
      <div class="check-container">
        <img src="./assets/images/successfull-tick.gif" alt="Forget password successfully" />
      </div>

      <div class="welcome-intro pb-4" style="margin-top: -3rem">
        <h5 class="mt-0">Successfully Done!</h5>
        <p class="mb-0">Your password has been reset successfully.</p>
      </div>
    </div>
    <div class="auth-screen-button-wrap text-center">
      <button type="button" class="primary-link-button" (click)="gotoLogin()">
        <span class="position-relative">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-left">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 12l14 0" />
            <path d="M5 12l4 4" />
            <path d="M5 12l4 -4" />
          </svg>
        </span>
        Back To Sign In
      </button>
    </div>
  </div>
</div>
