<div class="bordered-rounded-card d-flex flex-column overflow-y-auto h-100">
  <div class="plain-view-map-container position-relative overflow-hidden h-100" id="mapContainer">
    <div id="floorPlan">
      <img src="/images/blueprints-site-plan.jpg" class="img-fluid h-100 w-100 floor-pan-image object-fit-cover"
        alt="School floor plan" />
      <div id="pulseDotsContainer"></div>
    </div>
    <div class="zoom-controls">
      <button class="zoom-btn" id="zoomOut">➖</button>
      <span class="zoom-level" id="zoomLevel">100%</span>
      <button class="zoom-btn" id="zoomIn">➕</button>
      <button class="zoom-btn" id="zoomReset">🔄</button>
      <button class="zoom-btn" id="zoomLeftArea">◀️</button>
      <button class="zoom-btn" id="zoomCenterArea">⭕</button>
      <button class="zoom-btn" id="zoomRightArea">▶️</button>
    </div>
  </div>
</div>

<div id="dotPopup" class="dot-popup"></div>