.form-control {
  color: var(--secondary-dark);
  font-size: var(--primary-font-size);
  font-weight: var(--font-regular);
  height: var(--h-w-global);
  padding: 0.75rem 1rem;
  border: 2px solid var(--light-grey-border);
  border-radius: var(--primary-rounded);
  background: var(--white);
  &:focus {
    border-color: var(--primary-color);
    box-shadow: none;
  }
}
