.password-field-input {
  .password-show-icon {
    color: var(--light-dark);
    font-size: calc(var(--primary-font-size) * 1.25);
    top: 50%;
    right: 18px;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 9;
  }
}
.form-control {
  color: var(--secondary-dark);
  font-size: var(--primary-font-size);
  font-weight: var(--font-regular);
  height: var(--h-w-global);
  padding: 0.75rem 1rem;
  border: 2px solid var(--light-grey-border);
  border-radius: var(--primary-rounded);
  background: var(--white);
  &:focus {
    border-color: var(--primary-color);
    box-shadow: none;
  }
}
