<div class="password-field-input position-relative">
  <input [id]="id" [type]="type" class="form-control" [name]="label" [formControl]="formControl" [attr.placeholder]="placeholder" [ngClass]="{ 'is-invalid': formControl.invalid && formControl.touched }" [attr.autocomplete]="autocomplete" />
  <span class="password-show-icon position-absolute">
    <i role="button" tabindex="0" class="bi" [class.bi-eye]="type === 'text'" tabindex="-1" [class.bi-eye-slash]="type === 'password'" (click)="togglePasswordVisibility()"></i>
  </span>
</div>
@if (formControl.invalid && formControl.touched) {
  @if (formControl.getError("required")) {
    <div class="text-danger input-field-error">This field is required.</div>
  }
}
