<div class="auth-screen-outer d-flex align-items-center justify-content-center">
  <div class="auth-screen-inner w-100">
    <div class="auth-screen-body">
      <div class="auth-screen-header text-center">
        <div class="brand-logo pb-4">
          <img ngSrc="/vectors/forget-vector.svg" priority="" alt="Neuronso Vector" class="img-fluid" height="144" width="144" />
        </div>
        <div class="welcome-intro">
          <h5 class="mt-0">Forgot Password ?</h5>
          <p class="mb-0">Enter your email to get the OTP</p>
        </div>
      </div>
      <form [formGroup]="form" class="auth-screen-form" appSubmitOnEnter>
        <div class="form-control-group mb-4">
          <app-input [formControl]="form.controls.email" id="auth.login.email" placeholder="Enter your email"></app-input>
        </div>
        <button class="primary-button border-0 btn btn-primary text-white text-center w-100" type="submit" (click)="requestOnForgetPassword()" [disabled]="form.invalid">
          <span class="loader-spinner">
            Submit
            @if (loader.isLoading()) {
              <span class="custom-spinner"></span>
            }
          </span>
        </button>

        <div class="auth-screen-button-wrap text-center">
          <button type="button" class="primary-link-button mt-3" (click)="gotoLogin()">
            <span class="position-relative">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-left">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 12l14 0" />
                <path d="M5 12l4 4" />
                <path d="M5 12l4 -4" />
              </svg>
            </span>
            Back To Sign In
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
