.auth-screen-outer {
  min-height: 100dvh;
  padding: 5rem 1.8rem;
  background-image: var(--bg-light-gradient);
  background-color: var(--bg-white-shade);
  .auth-screen-inner {
    max-width: 24.875rem;
    .auth-screen-header {
      .welcome-intro {
        padding-bottom: 1.875rem;
        h5 {
          color: var(--black);
          font-size: calc(var(--primary-font-size) * 1.5);
          font-weight: var(--font-semibold);
          margin-bottom: 0.75rem;
        }
        p {
          color: var(--text-highlight);
          font-size: var(--primary-font-size);
          font-weight: 400;
        }
      }
    }
    .auth-screen-body {
      .auth-screen-form {
        .form-control-group {
          margin-bottom: 1.5rem;
          .form-label {
            color: var(--base-grey);
            font-size: var(--primary-font-size);
            font-weight: var(--font-regular);
            margin-bottom: 0.75rem;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .forget-password-label {
        p {
          a,
          .reset-password-link {
            color: var(--link-primary-text);
            cursor: pointer;
            &:hover {
              color: var(--black);
            }
          }
        }
      }
      &.auth-bg-modal {
        padding: 1.5rem 2rem;
        border-radius: var(--cst-radius-lg);
        background-color: var(--white);
      }
    }
  }
}

.otp-field-input {
  input {
    letter-spacing: 1em;
  }
}

.auth-form-container {
  position: relative;
  min-height: 400px;
  display: flex;
  flex-direction: column;
}

.check-container {
  mix-blend-mode: darken;
}

// .check-container {
//   width: 6.25rem;
//   height: 7.5rem;
//   .check-background {
//     height: calc(100% - 1.25rem);
//     background: linear-gradient(to bottom right, #5de593, #41d67c);
//     box-shadow:
//       0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
//       0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
//     transform: scale(0.84);
//     animation: animateContainer 2s ease-out forwards 2s;
//     opacity: 0;
//     svg {
//       width: 65%;
//       transform: translateY(0.25rem);
//       stroke-dasharray: 80;
//       stroke-dashoffset: 80;
//       animation: animateCheck 0.35s forwards 1.25s ease-out;
//       -webkit-animation: animateCheck 0.35s forwards 1.25s ease-out;
//     }
//   }
//   .check-shadow {
//     bottom: calc(-15% - 5px);
//     left: 0;
//     background: radial-gradient(closest-side, rgba(73, 218, 131, 1), transparent);
//     animation: animateShadow 2s ease-out forwards 2s;
//   }
// }

// @keyframes animateContainer {
//   0% {
//     opacity: 0;
//     transform: scale(0);
//     box-shadow:
//       0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
//       0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
//   }
//   25% {
//     opacity: 1;
//     transform: scale(0.9);
//     box-shadow:
//       0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
//       0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
//   }
//   43.75% {
//     transform: scale(1.15);
//     box-shadow:
//       0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset,
//       0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
//   }
//   62.5% {
//     transform: scale(1);
//     box-shadow:
//       0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
//       0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
//   }
//   81.25% {
//     box-shadow:
//       0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
//       0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
//   }
//   100% {
//     opacity: 1;
//     box-shadow:
//       0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
//       0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
//   }
// }

// @keyframes animateCheck {
//   from {
//     stroke-dashoffset: 80;
//   }
//   to {
//     stroke-dashoffset: 0;
//   }
// }

// @keyframes animateShadow {
//   0% {
//     opacity: 0;
//     width: 100%;
//     height: 15%;
//   }
//   25% {
//     opacity: 0.25;
//   }
//   43.75% {
//     width: 40%;
//     height: 7%;
//     opacity: 0.35;
//   }
//   100% {
//     width: 85%;
//     height: 15%;
//     opacity: 0.25;
//   }
// }
